body {
    margin-left: 190px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFA;
    color: black;
    font-family: monospace;
}
.main {
    display: flex;
    flex-direction: column;
}
.header {
    font-size: 12px;
    padding-bottom: 10px;
    max-width: 650px;
    align-items: center;
    display: flex;
    max-height: 10px;
    border-bottom: 2px solid;
}
.date {
    margin-left: auto;
}
.title {
    margin-top: 28px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text-body {
    display: flex;
    flex-direction: column;
    max-width: 650px;
}
.heading {
   
    font-size: 24px;
    font-weight: 900;
}
.text-body p {
    font-size: 16px;
}
.dark-mode {
    background-color: #1A1A1B;
    color: #FCFCFA;
    border: #FCFCFA;
}
.button {
    max-width: 15px;
    max-height: 15px;
}
button {
    background-color: transparent;
    border: 0 ;
}
a {
    text-decoration: none;
    
}
a:visited {
    color:black;
}
.back-button:hover {
    color: orangered;
    transition: 0.8;
}
p {
    margin-top: 0px;
}
#alt-text {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    color: darkgray;
}
.footer {
    padding-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    border-top: 2px solid;
}
.copyright {
    margin-left: auto;
}